<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
  <meta name="description" content="Romanian BERT Question Answer">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/animate.min.css">
  <link rel="shortcut icon" type="image/png" href="/static/logo.png">
  <title>Romanian BERT QA</title>
</head>

<body>

  <form action="/">
    <div class="animated fadeIn main">
      <br>

      <h1>DistilBERT QA Demo </h1>
      <p>Enter context:</p>

      <textarea id="context" name="context" rows="8" cols="80" required></textarea>

      <p>Enter question:</p>

      <div class="inputWrapper">
        <input id="question" align="center" type="text" name="question" placeholder="enter question" required>
        <button id="submit-btn" type="submit" value="Submit">Submit</button>
      </div>

      {% if answer: %}
      <div class="result animated fadeIn">{{question}}</div>
      <div class="result animated fadeIn">{{answer}}</div>
      {% endif %}

    </div>
  </form>

  <br>
  <br>

  <hr>
  <footer>

    <div>Made with <span class="heart">&hearts;&#xFE0E;</span> by Rohan Yadav</div>

    <br>
    <br>

    <a href="https://twitter.com/iamrohanydv" class="twitter-follow-button" data-show-count="false">Follow @iamrohanydv</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </footer>

</body>

</html>
